<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conciliador</title>
    <link rel="stylesheet" href="./libs/bootstrap.min.css" />
  </head>
  <body>
    <!-- Main app -->
    <div id="app" class="container-fluid">

      <form @submit="onSubmit($event)">
        <!-- Archivo Base -->
        <div class="form-group">
          <label for="customFile">Archivo Base</label>
          <div class="custom-file">
            <input @change="setBaseFileLabel()" type="file" class="custom-file-input" id="base-file">
            <label class="custom-file-label" for="base-file">
              {{form.baseFile || 'Selecciona un archivo'}}
            </label>
          </div>
        </div>

        <div class="form-row">
          <!-- Start from Cell -->
          <div class="form-group col">
            <label for="start-from-cell">Celda Inicial de Registros</label>
            <input v-model="form.startFromCell" class="form-control" id="start-from-cell" placeholder="Ej. a2">
          </div>
          <!-- Mes -->
          <div class="form-group col">
            <label for="inputEmail4">Mes</label>
            <select class="custom-select" v-model="form.selectedMonth">
              <option value="">Selecciona un Mes</option>
              <option value="Ene">Enero</option>
              <option value="Feb">Febrero</option>
              <option value="Mar">Marzo</option>
              <option value="Abr">Abril</option>
              <option value="May">Mayo</option>
              <option value="Jun">Junio</option>
              <option value="Jul">Julio</option>
              <option value="Ago">Agosto</option>
              <option value="Sep">Septiembre</option>
              <option value="Oct">Octubre</option>
              <option value="Nov">Noviembre</option>
              <option value="Dic">Diciembre</option>
            </select>
          </div>
          <!-- Anio -->
          <div class="form-group col">
            <label for="inputEmail4">Año</label>
            <input v-model="form.selectedYear" class="form-control" id="inputEmail4" maxlength="4" placeholder="Ej. 2019">
          </div>
        </div>

        <!-- Carpeta Destino -->
        <div class="form-group">
          <label for="customFile">Enviar resultado a:</label>
          <div class="custom-file">
            <input @click="setOutDirLabel($event)" type="file" class="custom-file-input" id="out-dir">
            <label class="custom-file-label" id="output-path-label" for="out-dir">
              {{form.outDir || 'Selecciona un folder'}}
            </label>
          </div>
        </div>

        <!-- Submit button -->
        <button @click="cleanFields()" type="button" class="btn btn-secondary">Limpiar</button>
        <button :disabled="atLeastOneEmptyValue() || processing" type="submit" class="btn btn-primary">
          Generar Archivos
          <span v-show="processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </form>
      <div style="height: 1rem;"></div>

      <!-- Success/Error message -->
      <div v-show="endResultMessage">
        <div v-bind:class="[wasSuccess ? 'text-success' : 'text-danger']">
          {{endResultMessage}}
        </div>
        <div v-show="exTime">Tomó {{ exTime/1000 }} segundos.</div>
      </div>

    </div>

    <script src="./libs/vue.min.js"></script>
    <script>
      const { remote, ipcRenderer } = require('electron');

      var app = new Vue({
        el: '#app',
        data: {
          processing: false,
          exTime: 0,
          endResultMessage: '',
          wasSuccess: true,
          form: {
            baseFile: '',
            startFromCell: '',
            outDir: '',
            selectedMonth: '',
            selectedYear: ''
          }
        },
        mounted: function() {
          this.baseFileInput = document.querySelector('#base-file');
        },
        methods: {
          setBaseFileLabel: function() {
            this.form.baseFile = this.baseFileInput.files[0].path;
          },

          setOutDirLabel: function(e) {
            e.preventDefault();
            const pathArray = remote.dialog.showOpenDialog({properties: ['openDirectory']});
            pathArray.then(res => {
              if (res.filePaths.length) {
                this.form.outDir = res.filePaths[0];
              }
            });
          },

          onSubmit(e) {
            e.preventDefault();
            this.endResultMessage = ''; 
            this.processing = true;
            ipcRenderer.send('conciliate:start', this.form);
          },

          atLeastOneEmptyValue() {
            for (const key of Object.keys(this.form)) {
              if (this.form[key].trim() === '') {
                return true;
              }
            }
            return false;
          },

          cleanFields() {
            this.baseFileInput.value = '';
            for (const key of Object.keys(this.form)) {
              this.form[key] = '';
            }
          }
        }
      });

      ipcRenderer.on('conciliate:end', function(e, res) {
        app.wasSuccess = res.success;
        app.exTime = res.exTime;
        app.endResultMessage = res.message;
        app.processing = false;
      });

    </script>
  </body>
</html>
